<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Template</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Report Title</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Section 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien id elit mollis bibendum vel non nisi. Praesent at vestibulum lorem. Sed in nulla magna. Integer eget leo tincidunt, vehicula purus eget, tincidunt lorem. Donec et enim at ipsum fringilla finibus.</p>
            </div>
            <div class="col-md-6">
                
                <h2>Section 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet sapien id elit mollis bibendum vel non nisi. Praesent at vestibulum lorem. Sed in nulla magna. Integer eget leo tincidunt, vehicula purus eget, tincidunt lorem. Donec et enim at ipsum fringilla finibus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Section 3</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Column 1</th>
                            <th>Column 2</th>
                            <th>Column 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                        </tr>
                        <tr>
                            <td>Row 2, Column 1</td>
                            <td>Row 2, Column 2</td>
                            <td>Row 2, Column 3</td>
                        </tr>
                        <tr>
                            <td>Row 3, Column 1</td>
                            <td>Row 3, Column 2</td>
                            <td>Row 3, Column 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signature-modal"">Sign Here</button>
        </div>

    <!-- Modal form -->
<div class="modal fade" id="signature-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign Here</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <canvas id="signature-canvas"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="save-signature-btn">Save</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- JavaScript code -->
  <script>
    $(document).ready(function() {
      // Initialize signature pad library
      var canvas = document.getElementById("signature-canvas");
      var signaturePad = new SignaturePad(canvas);
      
      // Add event listeners to modal buttons
      $("#save-signature-btn").click(function() {
        // Get signature data and add it to form data
        var signatureData = signaturePad.toDataURL();
        $("#my-form").append("<input type='hidden' name='signature' value='" + signatureData + "'>");
        
        // Close modal
        $("#signature-modal").modal("hide");
        
        // Reset signature pad
        signaturePad.clear();
      });
      
      $("#signature-modal").on("hidden.bs.modal", function() {
        // Reset signature pad when modal is closed
        signaturePad.clear();
      });
    });
  </script>
  
</body>
</html>
